$textPrimaryClr: hsl(237, 12%, 33%);
$textSecondaryClr : hsl(238, 29%, 16%);
$answerClr: hsl(240, 6%, 50%);
$accentClr: hsl(14, 88%, 65%);

$gradientClr1: hsl(273, 75%, 66%);
$gradientClr2: hsl(240, 73%, 65%);

$dividerClr: hsl(240, 5%, 91%);

$ff:'Kumbh Sans', sans-serif;;